.row:before, .row:after{
    display: inline-block !important;
}

.parent-win {
    /*
    margin-top:50px;
    border-radius:8px;
    padding:0px;
    background-color:silver;
    */
}            

.parent-title {
    background-color:#5f2084;
    border-radius:8px;
    color:#fff;
    font-family; verdana;
    font-size:18px;
    height:30px;
    margin-top:20px;
}

.row-win {
    background-color: #fff;
    margin-top:6px;
}


.child-win {
    border: dotted 1px #5e1f84;
    display:none;
    border-radius:7px;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
}

.child-image {
    margin-top:15px;
    width:100%;
    height:auto;
    cursor:pointer;
}

.iconTitle {
    color:#fff;
    margin-top:8px;
    font-size:10px;
}

