.row:before, .row:after{
    display: inline-block !important;
}


.parent-title {
    
    background-color:#5f2084;
    color:#fff;
    font-family; verdana;
    font-size:14px;
    line-height:40px;
    border-radius:8px;
    padding-left:20px;
}

.parent-win {
    margin-top:50px;
    border: dotted 1px #000;
}            

.child-win {
    border: dotted 1px #000;
    display:none;
}

.child-image {
    margin-top:15px;
    width:100%;
    height:auto;
    cursor:pointer;
}

.test {
    background-color:red;
}